*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

header{
    height: 50px;
    background-color: rgba(255, 115, 15, 0.887);
    color: white;
    margin-bottom: 50px ;
}

nav{
    height: 50px;
    width: 50%;
    margin: 0 auto;
    font-size: 15px;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

nav div{
    height: 50px;
    width: calc(100% / 3);
    float: left;
}

ul.flexstart{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    line-height: 50px;
}

ul.flexend{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    line-height: 50px;
}

ul {
    list-style-type: none;
    }

ul.flexstart li,ul.flexend li{
    margin-right: 5px ;
}

nav.clearfix img{
    height: 25px;
    width: 100px;
    margin-left: 150px;
    margin-top: 12px;
}

.row-top,.row-down{
    width: 50%;
    height: 415px;
    margin-top: 40px;
    margin: 0 auto;
}

.column{
    height: 415px;
    width: 32.9%;
}

.immagine{
    height: 340px;
    position: relative;
}

.descrizione{
    height: 75px;
}

.row-top.flex,.row-down.flex{
    display: flex;
    justify-content: space-between;
}

footer{
    height: 66px;
    background-color: black;
    color: white;
}

#immagine1{
    background-image: url('file:///Users/louisassanefaye/Desktop/Boolean/Corso%20Web%20Developer/Lezione%2010/html-css-boolando/boolando-img/img/1.webp');
    background-size: cover;
}

#immagine2{
    background-image: url('file:///Users/louisassanefaye/Desktop/Boolean/Corso%20Web%20Developer/Lezione%2010/html-css-boolando/boolando-img/img/2.webp') ;
    background-size: cover;
}

#immagine3{
    background-image: url('file:///Users/louisassanefaye/Desktop/Boolean/Corso%20Web%20Developer/Lezione%2010/html-css-boolando/boolando-img/img/3.webp') ;
    background-size: cover;
}

#immagine4{
    background-image: url('file:///Users/louisassanefaye/Desktop/Boolean/Corso%20Web%20Developer/Lezione%2010/html-css-boolando/boolando-img/img/4.webp');
    background-size: cover;
}

#immagine5{
    background-image: url('file:///Users/louisassanefaye/Desktop/Boolean/Corso%20Web%20Developer/Lezione%2010/html-css-boolando/boolando-img/img/5.webp') ;
    background-size: cover;
}

#immagine6{
    background-image: url('file:///Users/louisassanefaye/Desktop/Boolean/Corso%20Web%20Developer/Lezione%2010/html-css-boolando/boolando-img/img/6.webp');
    background-size: cover;
}

div.descrizione span{
    font-size: 13px;
}

div.descrizione h1{
    font-size: 13px ;
}

span.prezzo_di_partenza{
    text-decoration: line-through;
}

span.grigio{
    color: rgb(112, 112, 112);
}

span.rosso{
    color: red;
}

div.sconto{
    text-align: center;
    width: 30px;
    height: 15px;
    line-height: 15px;
    color: white;
    font-size: 10px;
    background-color: red;
    position: absolute;
    top: 300px;
}

div.sostenibilità{
    text-align: center;
    width: 65px;
    height: 15px;
    line-height: 15px;
    color: white;
    font-size: 10px;
    background-color: green;
    position: absolute;
    left: 33px;
    top: 300px;
}

#sostenibilità6{
    position: absolute;
    left: 0;
}

.row-down{
    margin-bottom: 55px;
}

div.heart_icon{
    position: absolute;
    background-color: white;
    color: black;
    right: 0;
    top: 5px;
    padding: 6px;
}

div.immagine img{
    height: 340px;
    width: 100%;
    display: none;
}

div.immagine:hover img{
    display:inline;
}

div.heart_icon:hover{
    color: red;
}

footer h2{
    font-size: 11px;
    margin-bottom: 5px;
    margin-top: 14px;
}

footer li{
    font-size: 8px;
}

li{
    margin-right: 3px;
}

ul.flexstart2{
    display: flex;
    justify-content: flex-start ;
    align-items: center;
}

ul.flexend2{
    display: flex;
    justify-content: flex-end ;
    align-items: center;
}

hr{
    color: white;
    margin-top: 7px;
}

#margin-right-zero{
    padding-left: 150px;
}