*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

header{
    height: 70px;
    background-color: rgba(255, 115, 15, 0.887);
    color: white;
    margin-bottom: 70px ;
}

nav{
    height: 70px;
    width: 80%;
    margin: 0 auto;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

nav div{
    height: 70px;
    width: calc(100% / 3);
    float: left;
}

ul.flexstart{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    line-height: 70px;
}

ul.flexend{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    line-height: 70px;
}

ul {
    list-style-type: none;
    }

ul.flexstart li,ul.flexend li{
    margin-right: 5px ;
}

nav.clearfix img{
    height: 25px;
    width: 100px;
    margin-left: 150px;
    margin-top: 22px;
}

.row-top,.row-down{
    width: 80%;
    border: 2px solid black;
    height: 400px;
    margin-top: 70px;
    margin: 0 auto;
}

.column{
    height:400px;
    width: 32.5%;
}

.immagine{
    height: 320px;
    border: 2px solid black;
}

.descrizione{
    height: 80px;
    border: 2px solid black;
}

.row-top.flex,.row-down.flex{
    display: flex;
    justify-content: space-between;
}

footer{
    height: 70px;
    background-color: black;
}

footer div{
    border: 2px solid white;
}